nav {
   font-size:130%;
}

footer {
    font-size:100%;
}

#footer-ul{
    margin-left: 2vw;
    width: 15vw;
    justify-content: space-between;
}

.fa-2x {
    font-size: 1.3em;
}

html,
body {
  height: 100%;
  margin: 0; /*Reset the default margin of the browser*/
}

.theme-light {
    background-color: whitesmoke;
    color: black;
    /* color: #27272728; */
}

.theme-dark {
    background-color: rgba(0, 0, 0, 0.882);
    color: rgb(74, 1, 1);
}

.toggler:hover{
    cursor: pointer;
}
